/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: #374151;
  background-color: #f6f7fc;
}

h2 {
  font-size: 2.4rem;
  color: #111827;
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* set border radius */
.user-card,
.user-img,
.user-page-info,
.user-page-info img,
.user-page-post,
.post-card {
  border-radius: 0.9rem;
  box-shadow: 0 0 1rem 0.4rem #bbbfca2d;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.bold {
  font-weight: 700;
}

/* Button destroy */

.btn-danger {
  background-color: #fcd34d;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
