// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* comments */
.post-card__comments {
  font-size: 1.6rem;
  color: #4b5563;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* comment */

.comment {
  display: flex;
  gap: 1.6rem;
  padding: 2.4rem 0 0 0;
}

.comment input {
  width: 100%;
  border: none;
  background-color: #f6f7fc;
  border-bottom: 1px solid #228be6;
  font-size: 1.6rem;
  color: #4b5563;
  padding: 0.8rem 1.6rem;
}

/* ADD POST */

.add {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2.4rem;
  padding: 2.4rem;
  margin: 2.4rem 0;
  background-color: #fff;
  box-shadow: 0 0 1rem 0.4rem #bbbfca2d;
}

.add input,
.add textarea {
  width: 100%;
  border: none;
  background-color: #f6f7fc;
  border-bottom: 1px solid #228be6;
  font-size: 1.6rem;
  color: #4b5563;
  padding: 0.8rem 1.6rem;
}

.add textarea {
  height: 22rem;
}

.add input:focus,
.add textarea:focus {
  outline-color: #74c0fc;
  border-radius: 0.8rem;
}

.comment input:focus {
  outline-color: #74c0fc;
}
