.btn {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  background-color: #228be6;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
}

.full-post .btn {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  background-color: #228be6;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  width: 15rem;
}

/* Add User or Log in */

.login-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -4rem;
}

.logo {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #4b5563;
  margin: 20px 0;
}

.logo-container img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.login-container {
  width: auto;
  min-width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0.1px 0.1px 10px rgba(0, 0, 0, 0.1);
}

.login-container form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.login-container form input {
  width: 100%;
  height: 30px;
  background: #f3f4f6;
  border-radius: 9px;
  border: none;
  padding: 0 10px;
}

.login-container form textarea {
  width: 100%;
  height: 30px;
  background: #f3f4f6;
  border-radius: 9px;
  border: none;
  padding: 10px;
}

.login-container form input[type='submit'] {
  background: #fcd34d;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* media queries for 950 and below */
@media screen and (max-width: 950px) {
  .user-card,
  .user-img,
  .user-page-info,
  .user-page-info img,
  .user-page-post,
  .post-card {
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem 0.2rem #bbbfca2d;
  }

  /* decrease fonts */

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.4rem;
  }

  .user-name {
    font-size: 2.4rem;
  }

  .user-description p {
    font-size: 1.6rem;
  }

  .post-card p {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .post-card__comments {
    font-size: 1.4rem;
    gap: 0.4rem;
  }

  /* change UI */
  .user-page {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

/* media queries for phones */
@media screen and (max-width: 600px) {
  /* decrease fonts */
  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.2rem;
  }

  .user-name {
    font-size: 2rem;
  }

  .user-description p {
    font-size: 1.4rem;
  }

  .post-card p {
    font-size: 1.4rem;
  }

  .post-card__comments {
    font-size: 1.2rem;
    gap: 0.2rem;
  }

  /* change ui */
  .user-page-info {
    align-self: stretch;
    width: 100%;
  }
}

/* alert message */
.alert {
  margin: 2.4rem 0;
  padding: 1.6rem 5.2rem;
  color: #c92a2a;
  background-color: #ffc9c9;
  border-radius: 0.6rem;
}

.alert p {
  font-size: 1.4rem;
}
